@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: font1;
    src: url("../src/font/font/NewTitle-Medium.ttf") format("opentype");
}
@keyframes NAME{
    0%{transform:translateY(-100px)  scale(.5);opacity: 0; }
    100%{transform:translateY(0)  scale(1);opacity: 1;}
}
@keyframes pic{
    0%{transform:translateY(100px) scale(.5); opacity: 0; }
    100%{transform:translateY(0) scale(1);opacity: 1;}
}
@keyframes text2 {
    from{transform: translateX(-100%);}
    to{transform: translateX(100%);}
}
@keyframes text3 {
    from{transform: translateX(-50%);}
    to{transform: translateX(50%);}
}
