@font-face {
    font-family: 'New Title';
    src: url('NewTitle-Regular.eot');
    src: local('New Title Regular'), local('NewTitle-Regular'),
        url('NewTitle-Regular.eot?#iefix') format('embedded-opentype'),
        url('NewTitle-Regular.woff2') format('woff2'),
        url('NewTitle-Regular.woff') format('woff'),
        url('NewTitle-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Title';
    src: url('NewTitle-Extralight.eot');
    src: local('New Title Extralight'), local('NewTitle-Extralight'),
        url('NewTitle-Extralight.eot?#iefix') format('embedded-opentype'),
        url('NewTitle-Extralight.woff2') format('woff2'),
        url('NewTitle-Extralight.woff') format('woff'),
        url('NewTitle-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Title';
    src: url('NewTitle-Medium.eot');
    src: local('New Title Medium'), local('NewTitle-Medium'),
        url('NewTitle-Medium.eot?#iefix') format('embedded-opentype'),
        url('NewTitle-Medium.woff2') format('woff2'),
        url('NewTitle-Medium.woff') format('woff'),
        url('NewTitle-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Title';
    src: url('NewTitle-Bold.eot');
    src: local('New Title Bold'), local('NewTitle-Bold'),
        url('NewTitle-Bold.eot?#iefix') format('embedded-opentype'),
        url('NewTitle-Bold.woff2') format('woff2'),
        url('NewTitle-Bold.woff') format('woff'),
        url('NewTitle-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Title';
    src: url('NewTitle-Light.eot');
    src: local('New Title Light'), local('NewTitle-Light'),
        url('NewTitle-Light.eot?#iefix') format('embedded-opentype'),
        url('NewTitle-Light.woff2') format('woff2'),
        url('NewTitle-Light.woff') format('woff'),
        url('NewTitle-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

